@import "../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../node_modules/material-ui/src/less/components.less";

.layer-title {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 1;
}

.overview {
  display: inline-block;
  position: fixed;
  z-index: 1;
  background: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.overview-title {
  transform: translate(-67%,-50%) rotateZ(-90deg);
  position: absolute;
  top: 50%;
}
.icon-camera {
  background: white;
}
.alarm {
  background: darkred;
}